body {
  background: linear-gradient(to left bottom, lightgreen, lightblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  display: flex;
  flex-direction: column;
  background: rgba(225, 225, 225, 0.3);
  padding: 20px;
  margin: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.heading {
  text-align: center;
  background: green;
  color: #fff
  
}

h2 {
  color: #333
}

.input{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.btn {
  background: lightgreen;
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  
}

#book-list-ul {
  list-style: none;
  padding:0;
}

#book-list-ul li {
  background: #fff;
  padding: 10px;
  margin:10 px 0;
  border: 1px solid #ddd
}

#search {
  width:100%;
  padding: 10px;
  margin:10px 0;
}